table {
    width: 50%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  table tr {
    margin: 10px 0;
  }
  
  table td {
    margin: 0 10px;
  }